In [1]:
f=lambda n:n*2
f(5)

10

In [3]:
words=['woodridge','stock','price','ron','yanks','Spike','Tan','Willy','Philene']

word_list=[w for w in words if len(w)>=3]
word_list

['woodridge',
 'stock',
 'price',
 'ron',
 'yanks',
 'Spike',
 'Tan',
 'Willy',
 'Philene']

In [24]:
name=['Ram Singh','Trish Khan','Yash Patel','Kabir George']

def get_init(name):
    inits=[]
    for name_part in name.split():
        inits.append(name_part[0])
    
    
    return '.'.join(inits)+'.'
    

inits=[get_init(person) for person in name]
inits

['R.S.', 'T.K.', 'Y.P.', 'K.G.']

In [5]:
from collections import *

Person=namedtuple('Person','name age position')

Emp1=Person(name='Bob',age=30,position='Maneger')

print(Emp1)

Emp1.name

Person(name='Bob', age=30, position='Maneger')

'Bob'

In [6]:
Person=namedtuple?

In [ ]:
Person=namedtuple

In [13]:
Person=namedtuple('Person','name age position age',rename=True)

In [14]:
Person._fields

('name', 'age', 'position', '_3')

In [15]:
Emp1=Person(name='Bob',age=30,position='Maneger',_3=40)
Emp1

Person(name='Bob', age=30, position='Maneger', _3=40)